<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.OnePLusOne.GuitarApp" android:installLocation="auto" android:versionName="0.10">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
	<application android:theme="@style/MainTheme" android:label="GuitarApp" android:icon="@drawable/logo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.bluetooth" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>